
<div ibmGrid>
  <h1>Status Card</h1>
  <div ibmRow>
    <div ibmCol [columnNumbers]="{lg: 4, md: 4}">
      <status-card
        cardTitle="Firewall"
        stats="2"
        statsDescription="Proportional Meter Chart"
        tooltip="Hello world"
        [progress]="[{value: 5, tooltip: 'Success'}, {value: 7, tooltip: 'Warning'}, {value: 3, tooltip: 'Error'}]"
        >
        <ibm-icon-information size="16"></ibm-icon-information>
      </status-card>
    </div>
  </div>

  <h1 style="margin-top: 2rem;">JsonForms</h1>
  <div ibmRow>    
    <div ibmCol [columnNumbers]="{lg: 8}">
      <jsonforms
        [data]="data"
        [schema]="schema"
        [uischema]="uischema"
        [renderers]="renderers"
        [ajv]="ajv"
        (dataChange)="onDateChange($event)"
      ></jsonforms>
    </div>
  </div>
</div>


